
:root {
    --headerColor:  rgb(40, 134, 134);
    --bodyColor: rgb(248, 231, 206);
    --fontChoice: Arial, Helvetica, sans-serif;
}

* {
    background-color: var(--bodyColor)
}

header nav ul .nav {
    display: inline;
    font-size: 30px;
    background-color: var(--headerColor);
    
    
    
}

h1 {
    font-size: 3rem;
    padding-left: 200px;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: -60px;
    color: rgb(54, 51, 51);
    background-color: var(--headerColor);
    
}
header nav ul {
    background-color: var(--headerColor);
}

a {
    margin: 25px;
    background-color: var(--headerColor);
    color: white;
    text-decoration: none;
    font-family: var(--fontChoice)
    
}

a:hover {
    color: aqua;
}

header nav {
display: flex;
justify-content: end;
background-color: var(--headerColor);

}
 
img {
    width: 450px;
    border-radius: 50%;
    margin-left: 30px;
    filter: drop-shadow(10px 5px 2px #ccccce);
}

#profile {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 30px;
}

main {
    display: flex;
    flex-direction: column;
    
}


hr {
    border-top: 10px dotted rgb(207, 205, 205);
    width: 150px;
    

}

h2 {
    margin-top: 200px;
    font-size: 2rem;
    color:  rgb(54, 51, 51);
}

h3 {
    font-family: var(--fontChoice);
    font-size: 3rem;
    padding-left: 100px;
}

section {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

#my-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 250px;

}

#my-work a {
    font-size: 1.3rem;
    margin-top: 5px;
    margin-bottom: 0;
    background-color: var(--bodyColor);
    color: rgb(15, 99, 24);
    padding-right:200px;
}

section p {
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 200px;
    text-align: center;
    font-family: var(--fontChoice);
    word-spacing: 0.5px;
    font-size: 1.3rem;
    line-height: 1.5;
}

.hobby {
margin-right: 370px;
}

#hobbies {
    font-family: var(--fontChoice);
    display: flex;
    flex-direction: column;
    padding-left: 460px;
    font-size: 1.3rem;
    line-height: 1.5;
    
}

#hobbies ul {
    list-style: square;
    margin-top: 0;
}

h4 {
    margin-bottom: 2px;
}



#work-experience {
    font-family: var(--fontChoice);
    word-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.phone {
    margin-left: -180px;

}

.github {
    margin-left: -150px;
}

footer h6 {
    font-size: large;
    text-align: center;
    color: rgb(78, 20, 20)

}


/*for smaller screens like phones*/
@media screen and (max-width: 600px)
{
h1 {
    padding-left: 145px;
    margin-bottom: 0;
}
 header nav ul {
    display: grid;
    margin-top: 0;
    padding-right: 180px;
 }

 img {
    width: 250px;
 }

h2 {
    padding-left: 40px;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 80px;
}

#my-work {
    margin-right: 250px;
    
}

#my-work a {
    margin-right: 100px;
    margin-left: 200px;
    margin-top: 20px;
}

.hobby {
    text-indent: 49px;
}

div#hobbies {
    margin-left: 180px;
}

#hobbies ul li {
    margin-left: -300px;
}


.phone {
    margin-left: 20px;
}

.github {
    margin-left: 20px;
}

}

@media (min-width: 601px) and (max-width: 768px) {
    header nav {
        padding-right: 60px;
    }

    img {
        width: 310px;
    }

    #hobbies ul {
        margin-left: -150px;
    }

    #my-work a {
        margin-left: 70px;
    }

    .contact-header {
        margin-right: 100px;
    }

    #contactnav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contactnav .emailadd {
        margin-left: 50px;
    }

    #contactnav .phone { 
      margin-left: 70px;
    }

    #contactnav .github {
        margin-left: 70px;
    }

}

em{
    border-radius: 20px;
}